# Normaliza finales de línea para que el código compile igual en Windows/Linux
*.c text eol=lf
*.h text eol=lf
Makefile text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.xml text eol=lf
# Binarios y compresos: sin conversión
*.elf binary
*.o binary
*.pkg binary
*.zip binary
